<%= render "users/mainwrapper_top" %>

<h1>Leading Indicators</h1>

<%= fetch_url 'http://public.tableausoftware.com/views/USEconomicDataNationalAccounts/Dashboard1?:embed=y&:display_count=n' %>

<%= render "users/mainwrapper_foot" %>

