<%= render "users/mainwrapper_top" %>

<h1 class="centered">Leading Indicators</h1>

<script type="text/javascript" src="http://public.tableausoftware.com/javascripts/api/viz_v1.js"></script>
        <div class="tableauViz"><noscript><a href="#"></a></noscript><object class="tableauViz"><param name="host_url" value="http%3A%2F%2Fpublic.tableausoftware.com%2F" /><param name="site_root" value="" /><param name="name" value="USConferenceBoardLeadingIndicators-v2&#47;Dashboard1" /><param name="tabs" value="no" /><param name="toolbar" value="yes" /><param name="animate_transition" value="yes" /><param name="display_spinner" value="yes" /><param name="display_overlay" value="yes" /><param name="display_count" value="yes" /></object>
        </div>

<%= render "users/mainwrapper_foot" %>

