<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Securities
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <ul class="accordion-sub">
          <li><a href="#">Corporate Bonds</a></li>
          <li><a href="#">Soverign Bonds</a></li>
          <li><a href="#">Municipal Bonds</a></li>
          <li><a href="#">Equities</a></li>
          <li><a href="#">ETFs</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Commodities
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="accordion-sub">
          <li><a href="#">Oil</a></li>
          <li><a href="#">Renewables</a></li>
          <li><a href="#">Copper</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        Currencies
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="accordion-sub">
          <li><a href="#">Largest Economies</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
        Economic Data
      </a>
    </div>
    <div id="collapseFour" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="accordion-sub">
          <li><a href="#">National Accounts</a></li>
          <li><a href="#">Consumer Prices</a></li>
          <li><a href="#">Producer Prices</a></li>
          <li><a href="#">Economic Activity</a></li>
          <li><a href="#">Leading Indicators</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
        Sustainability Data
      </a>
    </div>
    <div id="collapseFive" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="accordion-sub">
          <li><a href="#">Dow Jones Index</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>