<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Securities
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="accordion-sub">
          <li id="corporate_bonds"><a href="#">Corporate Bonds</a></li>
          <li id="soverign_bonds"><a href="#">Soverign Bonds</a></li>
          <li id="municipal_bonds"><a href="#">Municipal Bonds</a></li>
          <li id="equities"><a href="#">Equities</a></li>
          <li id="etfs"><a href="#">ETFs</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Commodities
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="accordion-sub">
          <li id="oil"><a href="#">Oil</a></li>
          <li id="renewables"><a href="#">Renewables</a></li>
          <li id="copper"><a href="#">Copper</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        Currencies
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="accordion-sub">
          <li id="currencies"><a href="#">Largest Economies</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
        Economic Data
      </a>
    </div>
    <div id="collapseFour" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="accordion-sub">
          <li id="national_accounts"><a href="#">National Accounts</a></li>
          <li id="consumer_prices"><a href="#">Consumer Prices</a></li>
          <li id="producer_prices"><a href="#">Producer Prices</a></li>
          <li id="economic_activity"><a href="#">Economic Activity</a></li>
          <li><a href="#" id="leading_indicators">Leading Indicators</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
        Sustainability Data
      </a>
    </div>
    <div id="collapseFive" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="accordion-sub">
          <li id="dow_jones"><a href="#">Dow Jones Index</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>