<br><br>
<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<p><%= @user.email %></p>

<script type="text/javascript" src="http://public.tableausoftware.com/javascripts/api/viz_v1.js"></script>
<div class="tableauPlaceholder" style="width:1053px; height:638px;">
  <noscript>
    <a href="#"><img alt="US Leading Indicators " src="http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;GK&#47;GK7MM5BHD&#47;1_rss.png" style="border: none" /></a>
  </noscript>
  <object class="tableauViz">
    <param name="host_url" value="http%3A%2F%2Fpublic.tableausoftware.com%2F" />
    <param name="path" value="shared&#47;GK7MM5BHD" />
    <param name="toolbar" value="yes" />
    <param name="static_image" value="http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;GK&#47;GK7MM5BHD&#47;1.png" />
    <param name="animate_transition" value="yes" />
    <param name="display_static_image" value="yes" />
    <param name="display_spinner" value="yes" />
    <param name="display_overlay" value="yes" />
    <param name="display_count" value="yes" />
  </object>
</div>