<% if current_user.admin %>
  <%= link_to 'Admin Control Panel', admin_path %>
<% end %>

<h1><%= @tab.title %></h1>

<p>
  <% if @tab.comment %>
    <%= @tab.comment %><br />
  <% end %>
  <%= raw @tab.tableau %>
</p>