<div class="splash">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="description">
          <h1>About</h1><br>
          
        </div>
      </div>
    </div>
  </div>
</div>
