<div class="splash">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="description">
          <h1>Contact Us</h1><br>
          Bobak Tamaddon bobak.tamaddon [at] gmail.com
        </div>
      </div>
    </div>
  </div>
</div>
