<div class="splash">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="container">
          <div class="row">
            <div class="span8">
              <div class="description">
                <h1>Agile, mobile, and cost effective financial market data.</h1>
              </div>
            </div>
            <div class="span4">
              <div class="signup">
                <%= render 'static/signup' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

