<div class="splash">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="container">
          <div class="row">
            <div class="span8 description">
              <br><br><br>Short description<br><br><br>
            </div>
            <div class="span4 signup">
              <%= render 'static/signup' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

