<%= render "users/mainwrapper_top" %>

<h1 class="centered">Corporate Bonds</h1>

<script type="text/javascript" src="http://chickpea.corp.apple.com:8080/javascripts/api/viz_v1.js"></script><div class="tableauViz"><object class="tableauViz"><param name="host_url" value="http%3A%2F%2Fchickpea.corp.apple.com%3A8080%2F" /><param name="site_root" value="" /><param name="name" value="AmiGeo_American_Corporate_Bonds&#47;Sheet1" /><param name="tabs" value="no" /><param name="toolbar" value="yes" /></object></div>

<%= render "users/mainwrapper_foot" %>

