$mainColor: #1100a3;
$headerColor: #ffffff;

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #ddd;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  padding-top: 41px;
  padding-bottom: 40px;
}

h1 {
  font-size: 4em;
  line-height: 1.2em;
}

// Header //

#header {
  background-color: $headerColor;
  height: 55px;
}

.globe {
  padding: 0px;
  margin: -8px 0px -5px 0px;
}

.searchbar {
  border-radius: 25px;
}

.spacer {
  display: inline-block;
  height: 35px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.logo {
  display: inline-block;
  width: 250px;
  height: 55px;
  padding: 2px 0px 0px 20px;
}

.login {
  display: inline-block;
  width: 200px;
  float: right;
  clear: both;
  text-align: right;
  margin: 10px 20px 0px 0px;
}


// Footer //

#footer {
  vertical-align: bottom;
  margin-top: 50px;
  text-align: center;
  color: #aaaaaa;
}

// Index Page Content //

.splash {
  background: url('/assets/markets.jpg');
  background-size: 100%;
  background-position: center;
  padding: 60px 0px 30px 0px;
}

.description {
  background-color: #ffffff;
  border-radius: 15px;
  opacity: 0.94;
  height: 375px;
  padding: 10px 20px 10px 20px;
}

.signup {
  background-color: #ffffff;
  border-radius: 15px;
  opacity: 0.94;
  height: 375px;
  padding: 10px 20px 10px 20px;
}

.signup_field {
  width: 95%;
  input[type="text"] {
    background-color: #00ff00;
  }
}

.signup_firstname {
  display: inline-block;
  width: 45%;
  float: left;
  clear: both;
  margin-right: 10px;
}

.signup_lastname {
  display: inline-block;
  width: 48%;
}


// User Page Content //

.tableauViz {
  //display: none;
  width: 100%;
  height: 900px;
}

.user_mainpage {
  text-align: center;
  padding: 0px 20px 0px 20px;
}

.all-content {
  width: 100%;
  height: 100%;
}

.nav-sidebar {
  position: fixed;
  width: 20%;
  height: 100%;
  float:left;
  display:inline-block;
  background-color: #292929;
}

.nav-sidebar a {
  text-decoration: none;
}

.nav-sidebar .accordion-group {
  margin-bottom: 0;
  border: none;
  border-bottom: 1px solid #666;
}

.nav-sidebar ul.accordion-sub {
  list-style: none;
  margin: 0 0 10px 0;

  li {
    border-top: 1px solid #999;
    padding: 5px 0;
  }

  li:first-child {
    border-top: none;
  }

  li > a {
    text-decoration: none;
    margin-left: 25px;
  }

}


.main-content-wrap {
  width: 80%;
  float:left;
  margin-left: 20%;
  display: inline-block;
}

.main-content {
  padding: 10px;
}